.ui.inverted.menu
  .left.menu
    a.item(href='/dashboard')
      i.home.icon
      | Dashboard

  .right.menu
    if userName
      a.item(href='/logout')
        i.sign-out.icon
        | Déconnexion
    else
      a.item(href='/register' class='active')
        i.sign-in.icon
        | Inscription
      a.item(href='/login')
        i.sign-in.icon
        | Connexion

    if userName
      a.item(href='/dashboard')
        i.user.icon
        | #{userName}